body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,sans-serif;
    //font-family: 'Roboto', -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,sans-serif;
    
}

body#mobydanceparty{
    background: radial-gradient(red, purple, blue);
}

body#mobybody{
    background: radial-gradient(pink, red, purple);
}

#loading {
    display: none;
    cursor: wait;
}

