<!DOCTYPE>

<html>
  <head>
    <link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
    <link rel=stylesheet href="https://s3-us-west-2.amazonaws.com/colors-css/2.2.0/colors.min.css">
    <link href="https://unpkg.com/
basscss-colors@2.0.2/css/colors.css" rel="stylesheet">
      <link href="https://unpkg.com/
basscss-background-colors@1.1.3/css/background-colors.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
  </head>


<body class="m0">
  <nav class="m0 p2 clearfix fit bg-silver">
    <span class="red">
    <ul class="list-reset">
        <li class="inline-block mr1 bold"><a href="#">Home</a></li>
        <li class="inline-block mr1 text-decoration-none"><a href="about">About</a></li>
    </ul>
   </span>
  </nav>
  <h1 class="p2 bold center">your sound</h1>
  <!--<div>{{data}}</div>-->

  <!--<div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>-->

<!--<p><a href="another">Go to the other page</a></p>-->
    
    <div class="col-8 p2 center clearfix mx-auto">
        <form method="POST" action="/add">
            <p>Search for a song <input type="text" name="name"> <input type="submit" value="Search"></p>
        </form>
        
    </div>
   


</body>


</html>
