<!DOCTYPE>

<html>
  <head>
    <link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
    <link rel=stylesheet href="https://s3-us-west-2.amazonaws.com/colors-css/2.2.0/colors.min.css">
    <link href="https://unpkg.com/basscss-colors@2.0.2/css/colors.css" rel="stylesheet">
    <link href="https://unpkg.com/basscss-btn@1.1.1/css/btn.css" rel="stylesheet">
    <link href="https://unpkg.com/basscss-btn-primary@1.1.0/css/btn-primary.css" rel="stylesheet">
    <link href="https://unpkg.com/basscss-background-images@0.1.1/css/background-images.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="{{ url_for('static', filename='stylesheets/style.css') }}" rel="stylesheet">
  </head>


<body class="m0 bg-black">
  <nav class="m0 p2 clearfix fit bg-silver">
    <span class="red">
    <ul class="list-reset">
        <li class="inline-block mr1 bold"><a href="#">Home</a></li>
        <li class="inline-block mr1 text-decoration-none"><a href="about">About</a></li>
    </ul>
   </span>
  </nav>
  
    <div class="mx-auto center">
    	{% for key,value in songdict.iteritems() %}
    	<iframe src="https://embed.spotify.com/?uri={{ value[0] }}" width="940" frameborder="0" allowtransparency="true" class="m0 mx-auto center"></iframe>
    	{% endfor %}
    	<!--
        <table class="center mx-auto">
            <thead>
                <tr>
                    <th>Song</th>
                </tr>
            </thead>
            <tbody>
                {% for key,value in songdict.iteritems() %}
                <tr class="p0 m0">
                  
                    <td><iframe src="https://embed.spotify.com/?uri={{ value[0] }}" width="340" frameborder="0" allowtransparency="true"></iframe></td>
                    <!--<td>{{ value[1] }}</td>-->

                <!--</tr>
                {% endfor %}
                
            </tbody>
        
        </table>-->
    </div>
    
    
    
   

    <footer class="fixed bottom-0 left-0 right-0 bg-silver p2 center">made with <i class="fa fa-heart" aria-hidden="true"></i>
        by <a href="http://www.github.com/edvarderiksson">EE</a> + <a href="http://www.github.com/andreasimes">AS</a> </footer>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    	<script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
        <script type="text/javascript">
      function loading(){
            $("#loading").show();
            $("#content").hide();       
        }

    if (annyang) {
      // Let's define a command.
      var commands = {
        'hello': function() { alert('Hello world!'); },
        'play that seventys song': function() {
           //alert('play'); 
           loading();
           $.ajax({
            type: "POST",
            url: "/moby",
            data: { param: ""}
          }).done(function(data, textStatus, jqXHR) {
            console.log( "success" );
            document.write(data);
          });
          //console.log(jqXHR.responseText);
        }
      };



      // Add our commands to annyang
      annyang.addCommands(commands);

      // Start listening.
      annyang.start();
    }


    </script>
</body>


</html>
